@import './../../theme.scss';
.match-summary {
    border: 4px;
    background-color: lighten($primary-color , 5%);
    position: relative;
    z-index: -2;
    display: flex;
    flex-flow: column;
    height: 100%;

    .match-details-summary {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        flex: 1 1 auto;
    }
    .match-footer {
        flex: 0 1 auto;
        margin-bottom: 0.5em;
    }
    .team-background {
        position: absolute;
        bottom: 0;
        left: 0.1em;
        color: darken($primary-color, 1%);
        font-size: 8em;
        font-weight: bold;
        z-index: -1;
    }
    .team-ven-date {
        background-color: darken($primary-color, 3%);
        padding: 0.5em;
    }
    .match-scores {
        flex: 1 1 auto;
    }

    .innings {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 3em;
        .score, .team-name {
            font-size: 1.4em;
        }
        .score {
            font-size:1.8em;
            font-weight: bold;
        }
        .performances {
            margin-top: 0.5em;
        }
    }
    .toss {
        font-size: 0.8em;

    }
    .result {
        font-weight: bold;
    }
}